{% extends "layout.html" %}
{% block title %}{{ placetype }}{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='placetype.css') }}">
{% endblock %}
{% block content %}
  {% if feed %}
    <h1 id="placetype"> {{ placetype }} </h1>

    {% for location in feed %}
      {% if location.placetype_name == placetype[:-1].lower() %}
        <div class="container">
          <div id="name">
            <a href={{ location.article_url }}>
              <div id="image">
                <a href={{ location.article_url }}>
                  <img src={{ location.image_url }}/>
                </a>
              </div>
            </a>
              <a href={{ location.article_url }}>
                <h2>{{ location.name }}</h2>
              </a>

                <p class='rev-preview'>
                  {{ location.location_preview}}
                </p>

          </div>

        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}
