{% extends "layout.html" %}
{% block title %}{{ placetype }}{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='placetype.css') }}">
{% endblock %}
{% block content %}
  {% if feed %}
    <h1 id="placetype"> {{ feed[0].placetype_name.lower().capitalize() ~ 's' }} </h1>

    {% for location in feed %}
      <div class="container">
        <div id="name">
          <!-- <a href={{ location.article_url }}><h2> {{ location.name }} </h2></a> -->
          <a href={{ location.article_url }}>
            <h2>{{ location.name }}</h2> </a>
            <p class='rev-preview'>
              {{ location.review_preview}}
            </p>
        </div>
        <div id="image">
          <a href={{ location.article_url }}>
          <img src={{ location.image_url }}/>
          </a>
        </div>
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}
